.column_liste_avis {
    padding-left:50px;
    padding-right:50px;
    margin-top:50px;
}

.form_style {
    width:100%;
    border: 1px solid #1AC2F4;
    height: 40px;
}

.label_style {
    margin-bottom:10px;
}

.style_tab {
    height:100%;
}

.btn_styles {
    padding-left:30px;
    padding-right:30px;
    border-radius: 70px;
}

.form_style_textarea {
    width:100%;
    border: 1px solid #1AC2F4;
    height:120px;
}

#example_filter {
    float:right !important;
}

#example_paginate {
    float:right !important;
}

.tab-content {
    width:100% !important;
}


.style_attente {
    background-color: yellow;
    padding:5px;
    border-radius: 5px;
}

.style_valide {
    background-color: #58FF71;
    padding:5px;
    border-radius: 5px;
}

.style_Repondu {
    background-color: #BBBBBB;
    padding-left:13px;
    padding-right:13px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5px;
    margin-top:10px;
}

.col_style_padding {
    padding-top:10px;
}

.opacity_note { 
    opacity:0;
}

.etoile {
    opacity:0.5;
}
.etoile:hover {
    opacity:1;
}

.para_footer {
    position:fixed;
    bottom:0;
    margin-bottom:0px;
    font-size: 13px;
    background-color: yellow;
    height:20px;
    width:100%;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:30px;
}

.btn_style_avis {
    background-color: #0582ca;
    text-decoration:none;
    border:none;
    border-radius: 42px;
    color:white;
}
.btn_style_avis:hover {
    background-color: #1b8ccf !important;
    color:white;
}
.btn_style_avis:active {
    background-color: #1b8ccf !important;
    color:white;
}

.infobulle_1 {
    background-color: #C9EFFA;
    padding:5px;
    z-index: 500;
    position: absolute;
    margin-left:-10px;
    margin-top: 0px;
    display:none;
}
.infobulle_2 {
    background-color: #C9EFFA;
    padding:5px;
    z-index: 500;
    position: absolute;
    margin-left:-10px;
    margin-top: 0px;
    display:none;
}
.infobulle_3 {
    background-color: #C9EFFA;
    padding:5px;
    z-index: 500;
    position: absolute;
    margin-left:-10px;
    margin-top: 0px;
    display:none;
}

.icon_action {
    width:30px;
    height:30px;
}
.col_action_padding {
    padding-left:5px;
    padding-right:5px;
}

.col_valider:hover > .infobulle_1 {
    display: block;
}
.col_repondre:hover > .infobulle_2 {
    display: block;
}
.col_supprimer:hover > .infobulle_3 {
    display: block;
}
